body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.container {
    height: 600px;
    width: 1000px;
}
.form{
    margin: 30px;
    text-align: center;
}
.canvas{
    margin-top: 40px;
    text-align: center;
}